.cta {
  width: 100%;
  background: #ff7a00;
  padding: 70px 8%;
}

.cta-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.cta-content h2 {
  color: #041633;
  font-size: 46px;
  margin-bottom: 10px;
}

.cta-content p {
  color: #041633;
  font-size: 18px;
}

.cta-buttons {
  display: flex;
  gap: 15px;
}

.create-btn {
  padding: 15px 30px;
  background: #041633;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.track-btn {
  padding: 15px 30px;
  background: transparent;
  border: 2px solid #041633;
  color: #041633;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}